.rowDiv {
    width: calc(200vw/5);
    height: 100%;  
}

.imgDiv {
    width: 100%;
    height: calc(100%/4);
    /* aspect-ratio: 2 / 1; */
    border-radius: 4px;
    overflow: hidden;  
}

/* @media screen and (min-width: 768px) {
    .rowDiv {
        width: calc(200vw/5)
        height: 100%  
    }
} */

