@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: font1;
    src: url('../../public/font/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.ttf');
}

*{
    font-family: font1;
}